<div class="card-form">
    <div class="card-form-main">
        <div class="form-group w-100">
            <label for="">Ad Soyad</label>
            <input type="text" class="form block" name="" id="nameform">
        </div>
        <div class="form-group w-100">
            <label for="">Kart Numarası</label>
            <input type="text" class="form block" name="" id="numberform" placeholder="XXXX XXXX XXXX XXXX">
        </div>
        <div class="form-flex">
            <div class="form-group w-100">
                <label for="">Son Kullanma Tarihi</label>
                <input type="text" class="form block" name="" id="validform" placeholder="XX / XX">
            </div>
            <div class="form-group w-100">
                <label for="">Cvc</label>
                <input type="text" class="form block" name="" id="cvcform" placeholder="xxx">
            </div>
        </div>
    </div>
</div>